.form__input {
  width: 358px;
  height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 13px;
  margin-bottom: 29px;
}

.form__input:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 637px) {
  .form__input {
    box-sizing: border-box;
    max-width: 434px;
    min-width: 238px;
    width: 100%;
  }
}
