.modal {
  position: fixed;
  padding: 0 19px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.modal_opened {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
}

.modal__close {
  border: none;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: opacity 0.4s ease;

  background-image: url(../images/modal-close-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__heading {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 900;
  color: #000;
  margin-top: 0;
  margin-bottom: 54px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__button {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  border-radius: 2px;
  border: none;
  height: 50px;
  margin-top: 48px;
  background-color: #000;
  color: #fff;

  opacity: 1;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.modal__button:hover {
  opacity: 0.8;
}

.modal__image_preview_container {
  background-color: transparent;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  object-fit: cover;
}

.modal__image_preview {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__image_preview_caption {
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  margin-top: 10px;
}

@media screen and (max-width: 637px) {
  .modal__container {
    box-sizing: border-box;
    max-width: 434px;
    min-width: 282px;
    width: calc(100% - 52px);
  }
  .modal__close {
    width: 26px;
    height: 26px;
  }
}

@media screen and (max-width: 480px) {
  .modal__container {
    padding: 25px 22px;
    width: calc(100% - 38px);
  }
  .modal__heading {
    font-size: 18px;
    margin-bottom: 75px;
  }
  .modal__close {
    bottom: calc(100% + 26px);
    left: calc(100% - 26px);
  }
  .modal__button {
    font-size: 14px;
  }
  .modal__image_preview_container {
    padding: 0;
  }
}
