.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  font-family: "Inter", Arial, sans-serif;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__info_name {
  font-size: 42px;
  line-height: 1.14; /* 48px */
  font-weight: 500;
  grid-area: title;
  margin: 0;
}

.profile__info_description {
  font-size: 18px;
  line-height: 1.2; /* 22px */
  font-weight: 400;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 60%;
}

.profile__edit_button {
  background: transparent url(../images/edit-button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  transform: translate(10px, 10px);
  border: none;
}

.profile__add_button {
  background: transparent url(../images/add-icon.svg) center no-repeat;
  min-width: 150px;
  height: 50px;
  margin-left: auto;
  border: none;
}
