@import url(../vendor/normalize.css);

@import url(../vendor/fonts.css);

.page {
  background-color: black;
  color: white;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Added to each section for Responsive Design, rather than more global selectors  */
.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.header {
  margin-top: 45px;
}

.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  font-family: "Inter", Arial, sans-serif;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__info-name {
  font-size: 42px;
  line-height: 1.14; /* 48px */
  font-weight: 500;
  grid-area: title;
  margin: 0;
}

.profile__info-description {
  font-size: 18px;
  line-height: 1.2; /* 22px */
  font-weight: 400;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 60%;
}

.profile__edit-button {
  background: transparent url(../images/edit-button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  transform: translate(10px, 10px);
  border: none;
}

.profile__add-button {
  background: transparent url(../images/add-icon.svg) center no-repeat;
  min-width: 150px;
  height: 50px;
  margin-left: auto;
  border: none;
}

.cards {
  font-family: "Inter", Arial, sans-serif;
  margin-top: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__description-locale {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-active.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.footer {
  padding-top: 40px;
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #545454;
}

@media screen and (max-width: 1100px) {
  .page__section {
    margin: 45px auto 0;
    padding-left: 20px;
    padding-right: 20px;
    max-width: calc(100% - 40px); /* "sticky elements" */
  }
  .header {
    max-width: 880px; /* max-width present in .header selector, but increases anyways at 1100px threshold */
  }
  .profile,
  .footer {
    margin-top: 0;
    max-width: 880px;
  }
}

@media screen and (max-width: 936px) {
  .page__section {
    max-width: calc(100% - 40px);
  }
  .profile__info {
    margin-right: 20px;
  }
}

@media screen and (max-width: 637px) {
  .profile {
    flex-direction: column;
  }

  .profile__image {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-right: 0;
  }

  .profile__info-name {
    margin-bottom: 14px;
  }

  .profile__info-description {
    margin-bottom: 36px;
    width: 100%;
    text-align: center;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__edit-button {
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    transform: none;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
    max-width: 282px;
  }
}

@media screen and (max-width: 480px) {
  .header__logo {
    height: 24px;
    width: 126px;
  }

  .profile__info-name {
    font-size: 22px;
  }

  .profile__description {
    font-size: 14px;
  }

  .footer__copyright {
    font-size: 14px;
  }
}
